.treeview {
  height: 100%;
}

.treeview > ul {
  box-sizing: border-box;
  height: 100%;
  padding: 5px 0px;
  list-style: none;
}

.tree-node {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #f8f8f8;
  font-size: 14px;
  color: #4d4d4d;
  position: relative;
  line-height: 1em;
}

.tree-node span {
  cursor: pointer;
  margin-right: 10px;
}

.custom-drag-preview {
  font-size: 14px;
}

.edit-button {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border-radius: 3px;
  background-color: white;
  border: 1px solid #ccc;
  padding: 8px;
}

.edit-button:hover {
  border-color: #007FA9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.edit-button.selected {
  border-color: #007FA9;
  background-color: #007FA9;
}

