#print-popup-container .matchOptionContainer {
  display: flex;
  flex-wrap: wrap !important;
}

#print-popup-container .matchingOption {
  width: 250px;
  margin-right: 157px;
  margin-bottom: 10px;
}

#print-popup-container {
  font-size: 16px !important;
}

#print-popup-container .rightMatchingOption {
  margin-top: 0px;
  width: 250px;
  margin-bottom: 10px;
  white-space: normal;
}

#print-popup-container .qti-blockquote.matching {
  width: 657px;
  display: inline-flex;
  align-items: center;
  margin-bottom: 0.3rem;
  min-height: 28px;
}

.student-name {
  position: relative;
  margin-bottom: 10px;
  top: 14px;
}

#print-popup-container .indChar,
.matchIndex,
.mOptionLabel,
.matchOptionImage {
  display: inline;
}

#print-popup-container .optionLabelView {
  left: 10px;
  margin-bottom: 10px;
}

.qti-choiceInteraction {
  margin-top: 5px;
  margin-bottom: 7px;
}

#print-popup-container .qti-assessmentItem {
  margin-right: 0px;
}

#print-popup-container .tick {
  display: none !important;
}
