.custom-modal .modal-content {
}

.custom-modal .modal-column {
}

.custom-modal .modal-column:last-child {
  border-right: none; /* Remove vertical line for last column */
}

.print-options,
.print-preview {
  width: 522px;
}

.print-options {
  padding-left: 20px;
}

.print-preview {
  position: relative;
  padding-left: 20px;
}

.button-footer {
  position: absolute;
  top: 445px;
  padding-left: 420px !important;
  border-bottom: 0px;
  left: -1px;
}

.print-preview .btn-close {
  position: relative;
  left: 32px;
  bottom: 13px;
}

.info-print-export {
  top: 60px;
}

.fa-solid.fa-circle-info {
  color: blue;
}

.test-containers {
  height: 420px; /* Adjust the height as needed */
  overflow-x: auto;
}

.question-no {
  position: relative;
  left: 17px;
}

.add-remove-line {
  position: relative;
  left: 19px;
}

.print-test-treeview {
  list-style-type: none;
}

.treeview > ul {
  list-style: none;
}

.question-numbers > ul {
  list-style-type: none;
  text-align: initial;
  margin-left: -55px;
  margin-top: -15px;
}

#questions {
  position: relative;
  right: 10px;
}

.closebutton {
  border: none;
  background-color: white;
  color: black;
  font-size: 28px;
  margin-right: -4px;
  margin-top: -22px;
}

i.bi.bi-info-circle-fill.me-1 {
  color: #145ae1;
  font-size: 19px;
}

.text-muted {
  --bs-text-opacity: 1;
  color: var(--bs-secondary-color) !important;
  font-style: oblique;
  font-weight: bold;
  font-size: medium;
  margin-left: -5px;
  margin-top: 24px;
  text-align: center;
}

.add-remove-buttons {
  position: relative;
  left: 20px;
}

#modal-treeview {
  overflow: hidden;
}
.print-preview {
  border-left: 5px solid #ccc; /* Adjust the color and style as needed */
  height: 100%; /* Adjust the height of the line */
}

#element {
  position: relative;
  bottom: 16px;
}

.printoptions-header {
  margin-left: -19px;
  margin-right: -58px;
}
.printpreview-header{
  margin-left: -21px;
  margin-right: -33px;
}
.question-numbers{ 
  text-align: end;
}
.printPreviewArea{
  text-align: 20px;
}