.discipline-container {
  background-color: #FFFF;
  color: #4D4D4D;
  justify-content: space-around;
}

.top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F8F8F8;
  color: #4D4D4D;
  line-height: 1em;
  padding: 10px;
  border-bottom: 1px solid #D0D0D0;
  margin-bottom: 20px;
}
.top-container h4 {
  margin: 0;
  text-align: center;
  line-height: 1.5; 
}

.discipline.search-container {
  width: 55%;
  display: flex;
  margin-right: 10px;
  flex-direction: column;
  align-items: flex-end;
}
.discipline.btn.btn-primary{
  font-size: 14px;
}


.discipline.input-group {
  position: relative;
  width: 100%;
}

.discipline.input-group-append {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0px 10px 5px;
}

.discipline.search-input {
  min-width: 200px;
  width: 100%;
  transition: none;
}

.discipline.result-list {
  width: 99%;
  list-style: none;
  padding: 0;
  position: relative;
  height: calc(77vh - 85px);
  overflow: auto;
}

.discipline.result-list li {
  padding-block-start: inherit;
  cursor: pointer;
  border-top: 1px solid #D0D0D0;
  font-size: 14px;
  padding: 5px;
}

.discipline.result-list li:last-child {
  border-bottom: 1px solid #D0D0D0;;
}

.discipline.result-list li.selected {
  background-color: #007FA9;
  Box-Shadow: 3px - Inset top, #006A8D;
  Color: #FFFFFF
}

.choose-your-discipline{
  font-size: 24px;
  margin-bottom: 0px;
}