
.scree-height {
    min-height: calc(100vh - 60px);
}

.App-header .bg-body-tertiary {
    background-color: #000 !important;
}

.App-header .navbar-brand,
.App-header .nav-link,
.App-header .nav-link.show {
    color: #fff;
}

.divider {
    background-color: #E8E8E8;
    border-left: 1px solid #D0d0d0;
    border-right: 1px solid #D0d0d0;
    position: absolute;
    z-index: 9;
    height: 100%;
    width: 10px;
}