.treeview {
  height: 100%;
}

.treeview > ul {
  box-sizing: border-box;
  height: 100%;
  padding: 5px 0px;
}

.tree-nodes {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  background-color: #f8f8f8;
  font-size: 14px;
  color: #4d4d4d;
  line-height: 1em;
  justify-content: space-between;
  padding: 3px;
  margin-left: 5px !important;
}

.tree-nodes span {
  cursor: pointer;
  margin-right: 10px;
}

.tree-nodes.custom-style {
  background: #e0e0e0;
  height: 40px;
  border-bottom: 1px solid #d0d0d0;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #4d4d4d;
  line-height: 1em;
  width: auto;
  max-width: 100%;
}

.edit-btn {
  position: relative;
  top: 1px;
  right: 0;
  cursor: pointer;
  border-radius: 3px;
  background-color: #f8f8f8;
  border: 0px;
  padding: 8px;
}

.edit-btn:hover {
  border-color: #007fa9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.edit-btn:focus {
  border-color: #007fa9;
  background-color: #007fa9;
}

.tree-nodes.selected {
  background-color: #eaf6ff; /* Update with your desired selected background color */
  /* Additional styles for selected nodes */
}

.delete-btn {
  position: relative;
  top: 1px;
  right: 0;
  cursor: pointer;
  border-radius: 3px;
  background-color: #f8f8f8;
  border: 0px;
  padding: 8px;
}

.delete-btn:hover {
  border-color: #007fa9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.delete-btn:focus {
  border-color: #007fa9;
  background-color: #007fa9;
}
