@import url('bootstrap/dist/css/bootstrap.css');
@import url('bootstrap-icons/font/bootstrap-icons.css');

@import "variables";

$primary-color: #ff5722;
$font-family: 'Arial', sans-serif;


.container-xxl {
  margin: 0 auto;
  background-color: $bg-gray;

  .panel {
    padding: 0;
    background-color: $white;
  }

  .panel-left {
    margin: 0 5px;
    border-right: 10px solid $border-gray;

  }

  .panel-right {
    margin: 0px;
  }
}

.tab-container {
  background-color: $bg-gray;
}

.header {
  background-color: $primary;
  color: white;
  padding: 1rem;
  font-family: $font-family;
  text-align: center;
}

.content {
  padding: 1rem;
  font-family: $font-family;
}