.question-banks-tips-container {
    position: relative;
    background-color: #f5f5f5; /* Light greyish background color */
    padding: 20px; /* Adjust as needed for spacing */
    width: 96.33%; /* Set your desired width */
    margin: 14px; /* Adjust margin as needed */
    margin-left: 10px;
    margin-right: 20px;
    border-radius: 12px; /* Add rounded corners if desired */
}

.question-banks-tips-container::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px; /* Adjust the height of the bottom border */
    background-color: transparent; /* Initial transparent bottom border */
    transition: background-color 0.5s ease; /* Add a smooth transition effect */
}

.question-banks-tips-container:hover::after {
    background-color: rgb(247, 241, 241); /* Change the color on hover */
}

.bold-text {
    font-weight: 499;

}

.container {
    text-align: left;
    margin-top: 3px;
    margin-left: 34px;
    max-width: 440px;
}


.far.fa-lightbulb {
    color: #fff; /* Set the color of the lightbulb icon to white */
    background-color: #ffa500; /* Light orange color for the circular background */
    padding: 7px; /* Adjust as needed for padding inside the circle */
    border-radius: 50%; /* Make the element circular */
    margin-right: 10px; /* Adjust as needed for spacing between icon and text */
}
