/* styles.css */

.test-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.test-container h3 {
  margin-top: -11px;
}

.test-container label {
  display: block;
  margin-bottom: -20px;
  margin-top: -5px;
}

.test-container input .test-container .addfolder-container {
  width: 85%; /* Make the input fields take up the full width */
  margin-top: 8px;
}

input.rounded.form-control {
  margin-left: 10px;
  margin-top: 0px;
  width: 491px;
}

.editmode {
  overflow: auto;
  height: calc(74vh - 85px);
}

#example-collapse-text {
  margin-bottom: 26px;
}

.savelink {
  text-decoration: none;
  margin-right: 10px;
  font-weight: bold;
}

.deletelink {
  text-decoration: none;
  font-weight: bold;
}

.editbtn {
  margin-right: 10px;
  font-size: 14px;
  border: none;
  border-radius: 3px;
  width: 40px;
  height: 30px;
  background-color: transparent;
  padding-left: 20px;
}

.deletebtn {
  font-size: 14px;
  border: none;
  border-radius: 3px;
  width: 40px;
  height: 30px;
  background-color: transparent;
  padding-right: 3em;
}

button.close-tab.btn.btn-link {
  margin-top: -13px;
  color: black;
}

.d-flex.justify-content-between {
  padding: 3px;
}

a#dropdown-ellipsis {
  margin-left: 12px;
}

.tabs-and-buttons-container {
  margin-left: -1px;
}

.drag-container {
  min-height: 100px;
  margin: 5px;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius) !important;
}

.ml-2 {
  margin-left: -0.5rem !important;
  white-space: nowrap;
}

.metadata-container .mc--orientation label {
  margin-top : 0px;
}


.metadata-container {
margin-left:20px;
margin-bottom:5px;
}

.view-question {
  display: inline-flex;
  align-items: center;
  margin-bottom: 0.3rem;
  width: inherit;
  min-height: 28px;
}

.view-question .text-section {
  display: inline-flex;
}

.view-question .text-section .answer{
  line-height: inherit;
}

.view-question .icon-ml {
  margin-left: 1rem;
}

.view-question .bi-check::before {
  font-size: x-large;
}

.view-question .checked {
  margin-left: -0.5rem;
}

.fib-content-area {
  min-height: 80px;
}