/* styles.css */

.test-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.test-container h3 {
    margin-top: -11px;
}

.test-container label {
    display: block;
    margin-bottom: -20px;
}

.test-container input .test-container .addfolder-container {
    width: 85%; /* Make the input fields take up the full width */
    margin-top: 8px;
}


input.rounded.form-control {
    margin-left: 3px;
    margin-top: -2px;
}

.editmode {
  overflow: auto;
  height: calc(74vh - 85px);
}

#example-collapse-text {
 margin-bottom: 26px;
}

.savelink {
    text-decoration: none;
    margin-right: 10px;
    font-weight: bold;
}

.deletelink {
    text-decoration: none;
    font-weight: bold;
}

button.close-tab.btn.btn-link {
    margin-top: -13px;
    color: black;
}

.d-flex.justify-content-between {
    padding: 3px;
}

a#dropdown-ellipsis {
    margin-left: 12px;
}

.tabs-and-buttons-container {
    margin-left: -1px;
}

.drag-container {
    min-height: 100px;
    margin: 5px;
    border: var(--bs-border-width) solid var(--bs-border-color);
    border-radius: var(--bs-border-radius)!important
}

.ml-2 {
    margin-left: -0.5rem!important;
    white-space: nowrap;
}