.treeview {
  height: 100%;


  ul {
    list-style: none;
  }
}

.treeview>ul {
  box-sizing: border-box;
  height: 100%;

  padding: 5px 0px;
}

.tree-node {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #F8F8F8;
  font-size: 14px;
  color: #4D4D4D;
  line-height: 1em;
}

.tree-node span {
  cursor: pointer;
  margin-right: 10px;
}


.tree-node.custom-style {
  background: #E0E0E0;
  height: 40px;
  border-bottom: 1px solid #D0D0D0;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #4D4D4D;
  line-height: 1em;
 
}




.booktab-container {
  background-color: #FFFF;
  color: #4D4D4D;
  justify-content: space-around;

}


.top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F8F8F8;
  color: #4D4D4D;
  line-height: 1em;
  padding: 10px;
  border-bottom: 1px solid #D0D0D0;
  margin-bottom: 20px;
}



.booktab.btn.btn-secondary {
  margin-inline-start: auto;
  margin-right: 10px;

}




.booktab.search-container {
  width: 55%;
  display: flex;
  margin-right: 10px;
  flex-direction: column;
  align-items: flex-end;
}

.booktab.input-group {
  position: relative;
  width: 100%;
}

.booktab.input-group-append {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0px 10px 5px;
}

.booktab.search-input {
  min-width: 200px;
  width: 100%;
  transition: none;
}

.booktab.result-list {
  width: 99%;
  list-style: none;
  padding: 0;
  position: relative;
  height: calc(77vh - 85px);
  overflow: auto;
}

.booktab.result-list li {
  padding-block-start: inherit;
  
  cursor: pointer;
  border-bottom: 1px solid #D0D0D0;
}

.booktab.result-list li:last-child {
  border-bottom: none;
}

.tree-node.selected {
  background-color: #007FA9;
  box-shadow: 3px 3px 5px inset #006A8D;
  color: #FFFFFF;
}