/* Modalpopuplist.css */

.button-container {
  /* margin-bottom: 10px; */
}

.color-black {
  color: black;
}

.button-container button {
  margin-right: 10px;
}

.root-folders-tests {
  max-height: 300px; /* Set a maximum height for the container */
  overflow-y: auto; /* Enable vertical scrollbar if content exceeds container height */
}

.root-folders-tests .tree-node {
  margin-bottom: 5px;
}

.show-text-box {
  display: flex;
}

.show-text-box .form-control {
  margin-bottom: 10px;
  width: 360px;
}

.show-text-box button {
  margin-left: 5px;
}

#folders-tests {
  max-height: 100%;
  margin-left: -5px;
  margin-top: 3px;
}
