.title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.title-container form {
  margin-left: 10px;
}

.text-container {
  display: flex;
  flex-direction: row; 
  align-items: center;
}

.text-container button {
  margin-left: 150px; 
  margin-top: 5px;
}
