/* Modalpopuplist.css */

.color-black {
    color: black;
}

.button-container button {
    margin-right: 10px;
}

.root-folders-tests {
   
    max-height: 300px; /* Set a maximum height for the container */
    overflow-y: auto; /* Enable vertical scrollbar if content exceeds container height */
}


.search-box {
    display: flex;
    align-items: center;
}

.search-box .form-control {
 
    width: 390px;
    margin-right: 5px;
}
.button-box {
    display: flex;
    align-items: center;
    
}
.button-box button{
    margin-left: 1px;
}