/* Modalpopuplist.css */

.color-black {
    color: black;
}

.button-container button {
    margin-right: 10px;
}

.root-folders-tests {
   
    max-height: 300px;
    overflow-y: auto; 
}


.search-box {
    display: flex;
    align-items: center;
    margin-top: 6px;
    margin-bottom: 2px;
}

.search-box .form-control {
 
    width: 390px;
    margin-right: 5px;
}
.button-box {
    display: flex;
    align-items: center;
    
}
.button-box button{
    margin-left: 1px;
}