.treeview {
  height: 100%;
  cursor: grab;
}

.treeview.grabbing {
  cursor: grabbing;
}

.treeview > ul {
  box-sizing: border-box;
  height: 100%;
  padding: 5px 0px;
  list-style: none;
}

.tree-node {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
  background-color: #f8f8f8;
  font-size: 14px;
  color: #4d4d4d;
  position: relative;
  line-height: 1em;
}

.tree-node span {
  cursor: pointer;
  margin-right: 10px;
}

.custom-drag-preview {
  font-size: 14px;
}

.editbutton,
.deletebutton {
  position: absolute;
  top: 1px;
  cursor: pointer;
  border-radius: 3px;
  background-color: #f8f8f8;
  border: none;
  padding: 8px;
}

.editbutton {
  right: 40px;
}

.deletebutton {
  right: 2px;
}

.editbutton:hover,
.deletebutton:hover {
  border-color: #007fa9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.editbutton.selected {
  border-color: #007fa9;
  background-color: #007fa9;
}

.custom-drag-preview {
  padding: 10px;
  background-color: #f8f8f8;
  width: 50%;
}

.tree-node.clicked {
  background-color: #007fa9;
  color: white;
}

#folders-tests {
  max-height: 100%;
}
