/* TestTabs.css */

/* Base styles for the navigation tabs */
.nav-tabs {
    list-style: none;
    padding: 0 px;
    display: flex;
    align-items: center;
}

.nav-item {
    margin-right: -2px;
}

.tab-label {
    position: relative;
    display: flex;
    align-items: center;
    /* background-color: #f0f0f0; */
    padding: 1px 10px; 
    border-radius: 5px;
}

.tab-label.active {
    background-color: #e0e0e0;
}

/* Styles for the close button */
.close-tab {
    background: none;
    border: none;
    cursor: pointer;
    position: absolute; 
    top: -9px; /* Adjusted top position */
    right: -22px; /* Adjusted right position */
    font-size: 5px;
}

.fa-times {
    color: black;
    font-size: 14px; /* Increased font size */
}

/* Styles for the plus button */
.add-tab {
    background-color: #d3d3d3; /* Light grey background color */
    border: none;
    cursor: pointer;
    padding: 1px 10px; /* Adjusted padding for the button */
    border-radius: 5px;
}

.add-tab:hover {
    background-color: #c0c0c0;
}

.tabs-and-buttons-container {
    width: 618px;
}

.three-dots{
    border: none;
    background: none
}
/* Add these styles to TestTabs.css */
  
  .additional-tabs-dropdown {
    background-color: white; /* Change the background color of the dropdown */
    color: black; /* Change the text color of the dropdown items */
  }
  
.custom-dropdown-btn {
    background-color: white !important; /* Use !important to override Bootstrap styles */
    color: black !important; /* Use !important to override Bootstrap styles */
  }
  
  .tabs-and-buttons-container .dropdown-toggle::after{
    display: none;
  }

  .tabs-and-buttons-container i.fa-solid.fa-ellipsis {
    padding-right: 21px;
}