.treeviewqb {
  ul {
    list-style: none;
  }
}

.treeviewqb > ul {
  box-sizing: border-box;
  padding: 5px 0px;
}

.tree-nodeqb {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  padding: 10px;
  background-color: #f8f8f8;
  font-size: 14px;
  color: #4d4d4d;
  line-height: 1em;
  margin-left: -5px;
}

.tree-nodeqb span {
  cursor: pointer;
  margin-right: 10px;
}

.tree-nodeqb.custom-style {
  background: #e0e0e0;
  height: 40px;
  border-bottom: 1px solid #d0d0d0;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  color: #4d4d4d;
  line-height: 1em;
  width: auto;
  max-width: 100%;
}

.clicked {
  background-color: #007fa9;
  color: white;
}

.clicked .tree-nodeqb,
.clicked .lens-icon {
  color: white;
}

.lens-icon {
  margin-left: 5px;
  cursor: pointer;
}
